.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; /**/
  display: flex;
  gap: 120px;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  max-width: 154px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1; /*para que se vea por encima del circulo*/
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__paragrafs {
  margin: 0;
}

.about__circle {
}
