.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #838383;
  line-height: 30px;
  width: 385px;
  margin-bottom: 32px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
}

.form__button {
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: white;
  width: 385px;
  border-radius: 4px;
  opacity: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_checkbox {
  flex-direction: row;
  column-gap: 12px;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
}
