@import url("header.css");
@import url("recipes.css");
@import url("reservation.css");
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /*página centrada*/
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px; /*altura de linea*/
  color: black;
}
