/*@import url("../vendor/normalize.css");
@import url("../blocks/about.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/menu.css");
@import url("../blocks/nav.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");*/

.page {
  margin: auto; /*página centrada*/
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px; /*altura de linea*/
  color: black;
  max-height: 1600px;
  min-width: 1100px;
  max-width: 1600px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  background-image: url(../../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: black;
  z-index: 1;
}

.header__title_span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer {
  margin-bottom: 40px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__list {
  list-style-type: none;
  margin: 0 0 0 40px;
  font-weight: normal;
  align-items: flex-end;
}

.header__address {
  margin: 0 15px;
  z-index: 1;
}

.nav {
  /* Agrega las propiedades flex aquí */
  justify-content: space-between; /*para que uno este al extremo de otro*/
  display: flex; /*alinea el 1er contenedor en general: el logo y links*/
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  margin: 30px 0px 0px 30px;
}

.nav__links {
  /* Restablece los estilos predeterminados de list aquí */
  display: flex; /*alinear el 2do contenedor que esta dentro del 1ro: solo links*/
  margin: 30px 80px 0 0;
  list-style: none; /*eliminación de viñetas*/
  column-gap: 20px; /*separación entre elementos*/
  padding: 0; /*relleno entre la letra y su contorno*/
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.recipes {
  background-image: url(../../images/background_recipes.svg);
  height: 100vh;
  width: 100%;
  padding: 40px 0 0 0;
  background-color: #0a2750;
  color: white;
}
.recipes__title {
  padding: 100px 0 0 80px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding: 24px 0 80px 80px;
  margin: 0;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  width: 100%; /*poner que se vea completo en el espacio dado*/
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video {
  border: none;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 215px 0;
  display: flex;
  justify-content: space-between;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: #d9e7ff;
}

.reservation__title {
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
  width: 385px;
  border-radius: 4px;
}

.form__button:hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.form__submit {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
}

.input[type="checkbox"] + span {
  font-size: 20px;
  line-height: 20px;
}
