.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  background-image: url(../../images/background_header.svg);
  background-repeat: no-repeat;
  align-content: space-between;
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: black;
  z-index: 1;
}

.header__title_span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 0;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-bottom: 40px;
  margin-left: 80px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__list {
  list-style-type: none;
  padding: 0;
  font-weight: normal;
  align-items: flex-end;
}

.header__address {
  margin: 0 80px 40px 0;
  z-index: 1;
  align-items: flex-end;
}
